* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(150, 136, 136);
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  overflow: hidden;
}
/* ==== HOVER ==== */
div {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
  width: 400px;
  opacity: 0;
  transition: 1s;
  top: 100%;
}
section:hover div {
  opacity: 1;
  top: 0;
  font-size: 2.8rem;
}
